/* Custom CSS */

body {
  background-color: #1D1D1D;
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
}

iframe {
  width: 100%;
  height: calc(100vh - 56px);
}

@media (max-width: 767px) {
  iframe {
    height: calc(100vh - 106px);
  }
}

/* Custom CSS for subframe_x */

#subframe_x {
  padding: 20px;
}

#subframe_x h2 {
  margin-bottom: 20px;
}

#subframe_x ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#subframe_x ul li {
  margin-bottom: 10px;
}

#subframe_x form {
  margin-top: 20px;
}



