/* Custom CSS */

body {
  background-color: #1D1D1D;
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
}

iframe {
  width: 100%;
  height: calc(100vh - 56px);
}

@media (max-width: 767px) {
  iframe {
    height: calc(100vh - 106px);
  }
}

